
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Caveat+Brush&display=swap');

/*all headings affected*/
h1,h2,h3,h4,h5,h6{
    font-family: "Bevan";
    font-size: 35pt;
}

body{ /*didnt overide heading because of cascading*/
    font-family:"Caveat Brush";
    background-color: #002EFA;
    color: #FFF100;
} /* first used body, then when heading was seen, used heading selector */

header{
    text-align: center;
}

#hero,footer{
    text-align: center;
    background-color: #00A0FF;
    padding: 10px;
    border: 4px solid #FFF100;
    border-radius: 15px;  
    margin-bottom: 10px;
}

#hero img{
    width: 300px;
}

#bio{
    background-color: #C47200;
    text-align: center;
    border: 8px solid #FFF100;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

#hobbies{
    padding: 10px;
    display: flex;
    background-color: #C47200;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 8px solid #FFF100;
    border-radius: 15px;
    margin-bottom: 10px;
}

/*
#hobbies * {  
the star is to apply everything with a boarder for bug checking
 border: 1px solid grey;
}
*/

#hobbies ul{
    font-size: 22px;
    margin-top: 0px;
}

#hobbies li{
    margin-top: 5px;
    margin-bottom: 5px ;
    max-width: 500px;
}

#hobbies h2{
    margin-bottom: 0px;
}

#gallery{
    padding: 10px;
    border: 10px solid #FFF100;
    border-radius: 15px;
    margin-bottom: 10px;;
}

#gallery figure{
    text-align: center;
}

#gallery figcaption{
font-size: 24px;
}

#gallery img{
    max-width: 100%;
}

#gallery hr{
    border: none;
    border-top: 10px solid #FFF100;
}

#gallery h2{
    padding:10px;
}

article{
    padding: 10px;
    border: 10px solid #FFF100;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

article img{
   max-width: 100%;
   position: absolute;/* stacks items ontop of eachother in each visual div */
   border: 6px solid #FFF100;
}

article p{
    margin-bottom: 2px;
}

article h3{
    margin: 2px;
    font-size: 26px;
}

#bullsstats, #bullslogo, #wizstats, #wizlogo{
    transition-duration: 1s;
    transition-timing-function: ease ;
}

#bullvisual, #wizvisual{
    display: flex;
    align-items:center; /*y-axis fix*/
    justify-content:center; /*x-axis fix*/
}

#bullsstats{
    opacity: 0;
}

#bullvisual:hover #bullslogo{
    opacity: 0;
}

#bullvisual:hover #bullsstats{
    opacity: 1;
    border: 6px solid #00A0FF;
}


#wizstats{
    opacity: 0;
}

#wizvisual:hover #wizlogo{
    opacity: 0;
}

#wizvisual:hover #wizstats{
    opacity: 1;
    border: 6px solid #00A0FF;
}



article div{
        max-width:100%;
        columns: 24rem;
        padding: 2em;
}

article p:first-of-type:first-letter{  
    background-image: radial-gradient(black, blue);
    font-size: 40px;
    display: block;
    float: left;
    margin-right:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 8px double #FFF100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
#video{
    text-align: center;
    padding: 10px;
    border: 10px solid #FFF100;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#video h2{
    margin-bottom: 0px;
}

#video iframe{
    max-width: 100%;
    margin-bottom: 25px; /*spaced out the video from border around video section */
    /* padding would have extended the border around the video */
    aspect-ratio: 4/3;
    border: 5px solid #FFF100;
    border-radius: 15px;
}

#contact h2{
    text-align: center;
    margin-bottom: 0px;
}

#contact form{
    width: auto;
    max-width: 700px;
    padding: 6px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 25px;
}

fieldset{
    color: #FFF100;
    border: 2px solid #FFF100;

}

#email, #name, #phone, #phonetype, #message{
  width: 100%;
  display: inline-block;
}

fieldset li{
    list-style: none;
}

select{
    font-size: 20px;
}

#contact textarea{
    resize: vertical;
    max-height: 260px;
}

#contact input{
    font-size: 25px;
}
#contact button{
    width: 100%;
    padding: 6px;
    margin-top: 6px;
    background-color: #C47200;
    color: #FFF100;
    border: 4px solid #FFF100;
    font-size: 25px;
}

footer a{
    font-size: 22px;
}



@media (min-width: 960px){

    body{
        background-color: #FFA500;
    }

    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    article p:first-of-type:first-letter{  
    background-image: radial-gradient(black, #FFA500);
    }

    #contact form{
    font-size: 20px;
}

#hobbies li{
    margin-top: 5px;
    margin-bottom: 5px ;
    max-width: 1000px;
}

#gallery figcaption{
font-size: 50px;
}

}
    


@media (min-width: 1175px) {

    #gallery{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery hr{
         display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }
    #gallery figcaption{
        font-size: 1.7rem;
    }

    #contact button{
        font-size: 20px;
    }

    select{
    font-size: 18px;
    }

    #contact form{
    max-width: 900px;
}
#contact input{
    font-size: 18px;
}

footer a{
    font-size: 18px;
}


#bio{
font-size: 18px;
}

#hobbies{
font-size: 20px;
}

#gallery figcaption{
font-size: 22px;
}

}